@import 'colors';

*{
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: #D9D9D9;
}
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 5px;
}
// ::-webkit-scrollbar-thumb:hover {
//     background: ;
// }
.text-primary{
    color: $primary;
}
.text-grey{
    color: #616161;
}
.text-black{
    color: #000;
}
.text-black2{
    color: #343434;
}
.text-white{
    color: $white;
}
.bg-primary{
    background-color: $primary !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Condensed", sans-serif;
}
h1, h2, h3, h4, h5, h6, p, figure{
    margin: 0;
}
.font-overpass{
    font-family: "Overpass", sans-serif;
}
a{
    text-decoration: none;
}
a.btn{
    display: block;
    text-align: center;
}
.btn{
    display: block;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-gradient{
    background: linear-gradient(180deg, #91C69B 0%, #58B2C7 47.73%);
    color: $white;
}
.btn-gradient, .btn-outline-white{
    border-radius: 20px;
    padding:  10px 22px;
}
.btn-outline-white{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.max-width{
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}
.my-section{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mb-section{
    margin-bottom: 30px;
}
.py-section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.px-section{
    padding-left: 20px;
    padding-right: 20px;
}
.title-section{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.text-top-title{
    position: relative;
    span{
        font-size: 96px;
        font-weight: 800;
        color: #CECECE;
    }
    .title-top-section{
        position: absolute;
        top: 40%;
        left: 80px;
        transform: translateY(-50%);
    }
}
.title-top-section{
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 20px;
    &::after{
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        background: linear-gradient(90deg, #91C69B 0%, #58B2C7 98.62%);
        height: 2px;
        width: 100%;
    }
}
.paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner{
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    height: 550px;
    position: relative;
    .banner-img, .banner-img img, video{
        height: 100%;
        width: 100%;
    }
    .banner-img img{
        object-fit: cover;
    }
    .banner-triangle{
        position: absolute;
        left: 50%;
        bottom: -35px;
        transform: translateX(-50%) rotate(45deg);
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 15px;
    }
    .banner-text{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 20px 20px 40px;
        .banner-title{
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        .banner-paragraph{
            font-size: 16px;
        }
    }
}
/*SWIPER CAROUSEL*/
.swiper{
    padding-bottom: 40px;
    .swiper-pagination{
        .swiper-pagination-bullet{
            background: #fff;
            width: 6px;
            height: 6px;
            border: 1px solid #343434;
            &.swiper-pagination-bullet-active{
                background: #343434;
            }
        }
    }
}
/*FIN SWIPER CAROUSEL*/
@media (min-width: 576px) {
    .max-width{
        max-width: 680px;
    }
    .title-section{
        font-size: 26px;
    }
    .paragraph{
        font-size: 18px;
    }
    .text-top-title{
        span{
            font-size: 110px;
        }
    }
    .banner{
        .banner-text{
            .banner-title{
                font-size: 32px;
            }
            .btn{
                width: fit-content;
            }
        }
    }
}
@media (min-width: 768px) {
    .max-width{
        max-width: 880px;
    }
    .py-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .title-section{
        font-size: 32px;
    }
    .paragraph{
        font-size: 20px;
    }
    .banner{
        .banner-text{
            .banner-title{
                font-size: 38px;
            }
        }
    }
}
@media (min-width: 992px) {
    .max-width{
        max-width: 1000px;
    }
    .title-section{
        font-size: 38px;
    }
    .banner{
        height: 600px;
        .banner-text{
            padding: 20px 20px 60px;
            .banner-title{
                font-size: 46px;
            }
            .banner-title, .banner-paragraph{
                max-width: 997px;
            }
        }
    }
    .text-top-title{
        span{
            font-size: 130px;
        }
        .title-top-section{
            left: 100px;
        }
    }
}
@media (min-width: 1200px) {
    .max-width{
        max-width: 1280px;
    }
    .py-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .title-section{
        font-size: 44px;
    }
    .paragraph{
        font-size: 22px;
    }
    .banner{
        .banner-text{
            .banner-title{
                font-size: 50px;
            }
        }
    }
}
@media (min-width: 1400px) {
    .title-section{
        font-size: 48px;
    }
    .title-top-section{
        font-size: 18px;
    }
    .banner{
        border-radius: 0 0 40px 40px;
        height: 672px;
        .banner-text{
            .banner-title{
                font-size: 64px;
            }
        }
    }
    .paragraph{
        font-size: 24px;
    }
    .text-top-title{
        .title-top-section{
            left: 125px;
        }
        span{
            font-size: 160px;
        }
    }
}