$primary-color: #91C69B;
$secondary-color: #58B2C7;
$text-color: #333;
$font-family: 'Roboto Condensed', sans-serif;

.waves {
  display: block;
  margin: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none; 
  z-index: 1;
}

.page-contact {
  width: 100%;
  margin: 0;
  padding: 0;

  canvas {
    height: 30vh;
  }
}

.background {
  position: relative;
  height: 60vh;
  background: url('#{get_template_directory_uri()}/images/contact-image.jpg') no-repeat center center/cover;
  z-index: 2;
}

.form-container {
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: #ffffff;
  width: 80%;
  max-width: 943px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 2;
  
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 622px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 40px 0;
    color: $text-color;
  }
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.form-container {
  textarea, button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  button {
    width: 134px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to bottom, $primary-color, $secondary-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 15px auto;
    display: block;
    text-align: center;
    
    &:hover {
      background: linear-gradient(90deg, $secondary-color, $primary-color);
    }
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  .iconos-rrss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    
    a {
      margin: 0 10px;
      text-decoration: none;
      font-size: 24px;
    }
  }
}

@media (min-width: 768px) {
  .form-fields {
    grid-template-columns: 1fr 1fr;
  }
  
  .form-container {
    h2 {
      text-align: left;
      margin: 20px 0 60px 30px;
      font-size: 40px;
      font-weight: 700;
    }
    
    form {
      max-width: 652px;
      max-height: 414px;
    }
  }
}
